    #grid {
        display: grid;
        grid-template-columns: 150px 1fr;
    }


    body{
        margin: 0;
    }

    h1 {
        font-size: 45px;
        text-align: center;
        border-bottom: 1px solid gray;
        margin: 0;
    }

    #grid ol {

        border-right: 1px solid gray;
        width: 100px;
        margin-left: 20px;
        margin-top: 0px;
        padding: 20px;
    }

    #article {
        padding-left: 25px;
    }

    #bodyFix {
        margin-left: 20px;
    }


    .container {
        height: 1000px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
        
         .box {
            border: 1px solid red;
            width: 200px;
        }

    
    .news_album {
            display: flex;
            flex-flow: column wrap;
    }
          
        .album_con {
            border: 1px solid gray;
            padding: 10px;
            width: 200px;
            height: auto;
            background-size: cover;
        }