/* 전체적인 태그에 초기화 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 body 하위의 모든 태그에 적용이 된다. */

body {
    background-color: #111;
    color : #fff;
}

section {
    padding: 40px 10%;
}

section h2 {
 font-size: 36px;
 margin-bottom: 20px;
}

section h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* header 작업 */

header {
    width: 100%;
    height: 100vh;
    /* 1)배경 이미지 2)그라데이션 효과  rgb a-투명도까지*/
    /* background: linear-gradient([방향],색상1,색상2,색상3..); */
    /* [방향]옵션 : top bottom left right 각도 to right, 45deg */
    /* 색상 : 시작 색상, 끝 색상, 중간 색상 등 여러개 */
    /* 현재는 방향이 없어서 반투명이나 그라데이션 효과는 주어지지 않음 */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(../img/test3.jpg);
    background-size: cover;
    padding: 10px 8%;
    /* 기준 위치를 정함 */
    position: relative;
}

nav {
    display: flex;
    /* 주 축 방향의 가로 정렬 */
    justify-content: space-between;
    /* 교차 축 방향의 세로 정렬 */
    align-items: center;
    padding: 10px 0;

}

nav .logo {
    font-size: 32px;
    color: #db0001;
    cursor: pointer;

}

nav button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #db0001;
    color: #fff;
    font-size: 16px;
    padding: 10px 24px;
    margin-left: 10px;
    cursor: pointer;
}

.lang {
    /* display: inline-flex : 
    css Flexbox 레이아웃을 적용하며 요소자체를 인라인으로 취급 */
    /* flex : 블록 요소 + css Flexbox 레이아웃을 적용 */
    display: inline-flex;
    align-items: center;
    border: 1px solid #fff;
    /* 배경색 드러내기 transparent */
    background-color: transparent;
}

.header-content {
    /* 절대 위치, 기준점은 헤더 태그 */
    position: absolute;
    left: 50%;
    top: 50%;
    /* 수직 수평 가운데 정렬 할 때에 자주 사용하는 방식 */
    transform: translate(-50%, -50%);
    text-align: center;
/* 애초에 50%씩 좌상단을 안넓히면 됐는데, 왜 넓히고 trans로 다시 줄이나? */
/* left와 top 의 기준점은 부모 , trans 의 기준점은 본인 */
}

.header-content h2 {
    font-size: 60px;
    line-height: 1.4;
    font-style: 600;
    max-width: 650px;
    margin-bottom: 20px;
}

.header-content h3 {
    font-style: 400;
    margin-bottom: 40px;
}

.add-email {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    /* 요소가 넘치면 숨기기 */
    overflow: hidden;
}

.add-email input {
    border: 0;
    outline: 0;
    /* flex 레이아웃에서 유연하게 공간 분배를 지정하는 단축 속성
    자동으로 남은 공간을 차지하게 시킨다. */
    flex: 1;
    margin-left: 20px;
}

.add-email button {
    border: 0;
    background-color: #db0001;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

/* 반응형 header 부분 작업 */

/* 가로 크기가 768px 이하 일 경우의 css */
/* only screen 오직 화면만 처리함 */
@media only screen and (max-width: 768px){
    nav .logo {
        font-size: 20px;

    }
    nav button {
        padding: 5px 10px;
    }

    .lang {
        padding: 4px;
    }

    .header-content {
        /* 초기값 또는 상속값으로 되돌리는 옵션 */
        /* 부모로 부터 상속이 가능하면 받고, 불가하면 초기값 리셋 */
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h2{
        font-size: 48px;
        line-height: 50px;
    }
    .header-content h3{
        font-size: 20px;
    }
    .add-email button {
        font-size: 12px;
        padding: 10px 15px;
    }
}
/* banner 부분 작업 */

.banner-content {
    border-radius: 6px;
    background: linear-gradient(to right,#651c3d 0%,#280a2b 40%);
    padding: 40px;
    margin-bottom: 40px;
    transition: transform ease-in-out 0.3s;
}

.banner-content:hover {
    transform :scale(1.04);
}

#banner p {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 30px;
}

#banner button, .membership-content button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(128,128,128,0.4);
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.select-menu {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px 24px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.select-menu option {
    background-color: #2b2b2b;
    color: #fff;
    
}

/* membership 부분 작업 */

.membership-content {
    border-radius: 6px;
    padding: 60px 40px;
    margin-bottom: 40px;
    background: linear-gradient(to right,
    rgba(101,28,61,0.9)0%,
    rgba(40,10,43,0.5)60%), 
    url(../img/test1.jpg) no-repeat right center;
    background-size: cover;
}

.membership-content p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

/* choice guide 부분 작업 */

#choice p {
    font-size: 22px;
    /* 0.1 10%불투명90%투명 ,  0.9 90%불투명10%투명 */
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.choice-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.card {
    /* 동등한 비율 분배에 사용 flex:1; */
    /* 1. flex-grow :여유공간을 얼마나 차지할지 1로 설정 다른항목과 1:1 */
    /* 2. flex-shrink : 공간이 줄어들 때 얼마나 줄일지 1로 설정 */
    /* 3. flex-basis : 초기 크기(기준) 0%(기본크기 없음 처음엔 0부터) */
    flex: 1;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(25,32,68,1)0%,
    rgba(32,19,34,1)62%);
    padding: 40px;
    height: 300px;
    position: relative;
}

.subject-img {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

.subject-img img{
    width: 100%;
    height: 50px;
    object-fit: cover;
}

/* 반응형 choice guide 부분 작업 */

@media only screen and (max-width: 768px) { 
    .card {
        flex-basis: calc(50% - 15px);
    }    
}

@media only screen and (min-width: 769px) and (max-width: 1220px) { 
    .card {
        flex-basis: calc(50% - 15px);
    }    
}

/* FAQ 부분 작업 */

#faq .accordion {
    width: 100%;
    max-width: 750px;
    margin: 60px auto;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;

}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

/* 가상요소:HTML수정없이 시각적인 효과를 부여함 */
/* 사용법 :: 콜론 2개를 붙여 사용 */
/* ::after 해당 요소의 마지막 부분에 컨텐츠를 추가함 */
/* 주의사항 반드시 content 속성이 있어야 사용 가능함 */

/* ::before 요소의 앞쪽에 추가함 */
.accordion li label::after {
    content: '\2b';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transition: 0.5s;
}

.accordion input[type='radio'] {
    display: none;
}

.accordion .content {
    background: #3b3b3b;
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}

/* + 란, 바로 다음의 형제 연산자를 선택 */
.accordion input[type='radio']:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type='radio']:checked + label::after {
    transform: rotate(-135deg);
}

/* footer 부분 작업 */

footer {
    padding: 60px 10%;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.footer-content a{
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    text-decoration: none;
}

.left {
    flex-basis: 60%;
}

.center, .right {
    flex-basis: 20%;
    vertical-align: top;
}

.col h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    margin-bottom: 20px;
}

.col h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 40px;
}

.footer-nav li:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.footer-info {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);

}

.socials {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.socials a {
    color: rgba(255,255,255,0.7);
    font-size: 16px;
}

.copyright {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}


.footer-content p {
    font-size: 14px;
    line-height: 0.6;
    color: rgba(255,255,255,0.7);
    margin-bottom: 20px;
}
/* 반응형 footer 부분 작업 */

@media only screen and (max-width: 768px)  {
    .footer-content{
        display: flex;
        flex-direction: column;
    }

    .col {
        flex-basis: 100%;
    }

    .col h2 {
        color: rgba(255, 255, 255, 0.7);
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .col h3 {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        margin-bottom: 20px;
    }
}